<h1>Products</h1>
<ul class='list-unstyled'>
  {{#each}}
      <li class='row'>
          <img {{bind-attr src='image'}} class='img-thumbnail col-sm-5'/>

          <div class='col-sm-7'>
              <h2>{{title}}</h2>

              <p class='product-description'>{{description}}</p>

              <p>
                  <button class='btn btn-success'>Buy for ${{price}}</button>
              </p>
            {{#link-to 'product' this class='list-group-item'}}
                Click to see details of: {{title}}
            {{/link-to}}
          </div>
      </li>
  {{/each}}
</ul>